{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background-color: #ffd1dc; /* Light pink color */
        }
    </style>
</head>
<body>
{% block content %}

<hr>

<div class="row">
    {% for each in object_list %}
    <div class="col" >
        <div class="card h-100" style="width: 13rem;">
            <img src="{{ each.image_url }}" class="card-img-top" alt="..." style="object-fit: cover;">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ each.title|slice:":25"}} ...</h5>
                <p class="card-text">₹{{ each.price|floatformat:2 }}</p>
                {% if each.book_available is True %}
                <li class="text-primary">Available</li>
                {% else %}
                <li class="text-danger">Out of Stock !</li>
                {% endif %}<br>
                <a href="{% url 'detail' each.id %}" class="mt-auto btn btn-primary">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
